@import "./../../scss/global.scss";
.textarea {
  color: $color-body;
  border: 1px solid $color-fourth;
  padding: 2px 10px;
  background: rgb(46, 46, 46);
  font-size: 1.2rem;
  height: 10rem;

  padding: 10px 10px;
  margin-top: 1rem;

  @include media-query("max", $palm-start) {
    font-size: 1rem;
    height: 9rem;
  }
  &:focus {
    background: rgb(212, 212, 212);
    color: $color-bg3;
  }
}
