@import "./../../scss/global.scss";
input {
  color: $color-body;
  padding: 4px 10px;
  border-radius: 7px;
  background: #303030;
  font-weight: 300;
  box-shadow: inset 5px 5px 9px #282828, inset -5px -5px 9px #383838;
  font-size: 1.4rem;
  height: 2.4rem;
  margin-top: 1rem;
  border: none;
  outline: none;
  @include media-query("max", $palm-start) {
    font-size: 1rem;
  }
  &:focus {
    color: $color-body;
  }
}
