@import "./../../scss/global.scss";
.default {
  padding: 8px 39px;
  color: $color-fourth;
  border: 1px solid $color-fourth;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.15s;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: transparent;
}
.default:hover {
  color: $color-second;
  border: 1px solid $color-second;
}
