@import "./../../scss//global.scss";
.wrapper {
  background-color: $color-bg2;
  padding-bottom: 3rem;

  .container {
    @include container;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 9%;
    @include media-query("max", $palm-start) {
      padding: 0 4%;
    }
  }
  h2 {
    @include header;
  }
  .line {
    @include line;
    margin-bottom: 7rem;
  }
  .icon {
    font-size: 3.5rem;
    text-align: center;
    color: $color-third;
    position: relative;
    bottom: 5.2rem;
    left: 1.8rem;
    @include media-query("max", $palm-start) {
      font-size: 2.5rem;
      bottom: 3.9rem;
      left: 1.4rem;
    }
  }

  .tools {
    margin-top: -2rem;
  }
  .toolsWrapper {
    padding: 0 20%;
    @include media-query("max", $palm-start) {
      padding: 0 10%;
    }
  }
}
