@import "./../../scss//global.scss";
.wrapper {
  background-color: $color-bg3;
  padding: 0 5%;
  .container {
    @include container;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
  }
  h2 {
    @include header;
  }
  .line {
    @include line;
    @include media-query("max", $palm-start) {
      margin-bottom: 2rem;
    }
  }
}
