@import "./../../scss//global.scss";

// Card
.card {
  position: relative;
  cursor: pointer;
  .img {
    width: 80%;
    height: auto;
  }
  .face {
    width: 20rem;
    height: 200px;
    transition: 0.5s;
  }

  .face.face1 {
    position: relative;
    background: $color-bg3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    box-shadow: 5px 5px 6px #191919, -5px -5px 6px #272727;
    @include media-query("max", $palm-start) {
      transform: translateY(0);
      box-shadow: 5px 5px 6px #191919, -5px -5px 6px #272727;
    }
  }

  &:hover .face.face1 {
    transform: translateY(0);
  }

  .face.face1 .content {
    opacity: 0.7;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:hover .face.face1 .content {
    opacity: 1;
  }

  .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: $color-body;
    text-align: center;
    font-size: 1.5em;
  }

  .face.face2 {
    position: relative;
    background: $color-body;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 19px;
    box-sizing: border-box;
    box-shadow: 5px 5px 6px #191919, -5px -5px 6px #272727;
    transform: translateY(-100px);
    margin-bottom: 2rem;
    @include media-query("max", $palm-start) {
      transform: translateY(0);
    }
  }

  &:hover .face.face2 {
    transform: translateY(0);
  }

  .face.face2 .content p {
    margin: 0;
    padding: 0;
    color: $color-bg3;
  }

  .face.face2 .content a {
    margin: 18px 0 0;
    display: inline-block;
    width: auto;
    text-decoration: none;
    font-weight: 900;
    padding: 5px 9px;
    text-align: center;
    color: #333;
    border: 1px solid #333;
  }

  .face.face2 .content a:hover {
    background: #333;
    color: $color-body;
  }
  .linksWrapper {
    display: flex;
    justify-content: space-between;
  }
  .icon {
    margin-right: 0.5rem;
    padding: 0;
  }
}
