@import "./../../scss//global.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-bg4;
  color: $color-fourth;
  .btn {
    margin-bottom: 7rem;
    padding: 11px 44px;
    @include media-query("max", $palm-start) {
      padding: 9px 38px;
    }
  }
  h3 {
    @include header;
  }
  .line {
    @include line;
  }
}
