@import "./../../scss//global.scss";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-bg4;
  color: $color-fourth;
  padding-bottom: 7rem;
  .btn {
    padding: 11px 0;
    background: $color-bg4;
    box-shadow: 5px 5px 6px #1f1f1f, -5px -5px 6px #2f2f2f;

    &:hover {
      background: linear-gradient(145deg, #232323, #2a2a2a);
      box-shadow: 5px 5px 6px #1f1f1f, -5px -5px 6px #2f2f2f;
    }
    &:active {
      box-shadow: inset 5px 5px 6px #1f1f1f, inset -5px -5px 6px #2f2f2f;
    }
  }
  h3 {
    @include header;
  }
  .line {
    @include line;
  }
}
