@import "./scss/global.scss";
//Start styles
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $josefin;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
  width: 100%;
  color: $color-body;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
p {
  margin: 0;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

/* для адаптивной верстки, проверить, какой элемент вылазит */
// * {
//   border: 1px solid red;
//   box-sizing: border-box;
// }
:root {
  // --toggle-color: #ff6b6b;
  --toggle-color: #f08a5d;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 0;
}

// @include media-query("min", $mob-start){

// }
// @include media-query("min", $palm-start){

// }
// @include media-query("min", $lap-start){

// }
// @include media-query("min", $desk-start){

// }
// @include media-query("min", $wide-start){

// }
