// Theme Colours
$color-body: #ededed;
$color-first: #f1ecc3;
$color-second: #fdd2bf;
$color-third: #ff6b6b;
$color-fourth: #707070;
$color-bg: #090909;
$color-bg2: rgb(15, 15, 15);

// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1600px;
