// Theme Colours
$color-body: #ededed;
$color-first: #f1ecc3;
$color-second: #fdd2bf;
$color-third: #ff6b6b;
$color-fourth: #707070;
$color-bg: rgb(20, 20, 20);
$color-bg2: rgb(26, 26, 26);
$color-bg3: rgb(32, 32, 32);
$color-bg4: rgb(39, 39, 39);
$color-bg5: #303030;
// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1600px;
