// Theme Colours
$color-body: #eeeeee;
$color-first: #f1ecc3;
$color-second: #c9d8b6;
$color-third: #57837b;
$color-fourth: #515e63;

// breakpoints
$mob-start: 374px;
$palm-start: 420px;
$lap-start: 768px;
$desk-start: 990px;
$wide-start: 1200px;
$page-width: 1600px;
