@import "./../../scss/global.scss";
.wrapper {
  background-color: $color-first;
  color: $color-fourth;
  text-align: center;

  h2 {
    @include header;
    margin-bottom: -2rem;
    @include media-query("max", $palm-start) {
      font-size: 2.4rem;
    }
  }
  .btn {
    color: $color-fourth;
    border: 1px solid $color-fourth;
    margin-bottom: 5rem;
    padding: 11px 44px;
  }
}
