@import "./../../scss/global.scss";
.wrapper {
  background: $color-bg5;
  color: $color-fourth;
  text-align: center;
  padding-bottom: 7rem;
  h2 {
    @include header;
  }

  .line {
    @include line;
  }
}
