@import "./../../scss/global.scss";
.form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
  @include media-query("max", 1025px) {
    width: 70%;
  }

  input {
    height: 2rem;
    margin-bottom: 0.7rem;
  }
  textarea {
    height: 10rem;
    margin-bottom: 3rem;
    @include media-query("max", $palm-start) {
      height: 7rem;
    }
  }
}
