@import "./../../scss/global.scss";
.form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 7px;
  background: $color-bg5;
  box-shadow: 5px 5px 7px #282828, -5px -5px 7px #383838;
  @include media-query("max", $desk-start) {
    width: 60%;
  }
  @include media-query("max", $lap-start) {
    width: 70%;
  }
  @include media-query("max", $palm-start) {
    width: 80%;
  }

  .btn {
    margin: 0 auto;
    background: $color-bg5;
    padding: 11px 0;
    margin-top: 1.5rem;
    box-shadow: 5px 5px 6px #262626, -5px -5px 6px #3a3a3a;
    transition: 0.4s;
    &:disabled {
      box-shadow: inset 5px 5px 6px #262626, inset -5px -5px 6px #3a3a3a;
      opacity: 0.7;
    }
    &:hover {
      background: linear-gradient(145deg, #2b2b2b, #333333);
      box-shadow: 5px 5px 6px #262626, -5px -5px 6px #3a3a3a;
    }
    &[disabled]:hover {
      box-shadow: inset 5px 5px 6px #262626, inset -5px -5px 6px #3a3a3a;
      opacity: 0.7;
      cursor: auto;
    }
    &:active {
      box-shadow: inset 5px 5px 6px #262626, inset -5px -5px 6px #3a3a3a;
    }
  }
  .msg {
    margin: 0 auto;
    font-size: 1.5rem;
    color: #80ed99df;
    font-weight: 300;
    margin-top: 5px;
  }

  div {
    color: var(--toggle-color);
    font-size: 1.1rem;
    font-weight: 300;
    padding: 5px 0 0 0;
  }
}
