@import "./../../scss/global.scss";
.form {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 7px;
  background: $color-bg5;
  box-shadow: 5px 5px 7px #282828, -5px -5px 7px #383838;
  @include media-query("max", $desk-start) {
    width: 60%;
  }
  @include media-query("max", $lap-start) {
    width: 70%;
  }
  @include media-query("max", $palm-start) {
    width: 80%;
  }

  .btn {
    margin: 0 auto;
    background: $color-bg5;
    padding: 11px 44px;
    margin-top: 1.5rem;
    box-shadow: 5px 5px 7px #282828, -5px -5px 7px #383838;
    @include media-query("max", $palm-start) {
      padding: 7px 33px;
      font-size: 0.9rem;
    }
    &:hover {
      color: #fdd2bfb0;
      background: linear-gradient(145deg, #2b2b2b, #333333);
      box-shadow: 5px 5px 7px #282828, -5px -5px 7px #383838;
    }
    &:active {
      color: #fdd2bf69;
      box-shadow: inset 5px 5px 7px #282828, inset -5px -5px 7px #383838;
    }
  }
  .msg {
    width: 20rem;
    margin: 0 auto;
    font-size: 1.7rem;
    color: #80ed99;
    font-weight: 300;
    padding: 6px 3px;
    border: 1px solid #80ed99;
    display: none;
  }
  .msgAppear {
    display: block;
  }
}
